{% extends 'template.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    {% embed 'header.html.twig' %}
        {% block rubActive %}active{% endblock %}
    {% endembed %}
    <div class="container mb-4">
        {% if message %}
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>{{ message }}</strong>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row ">


            {% for rub in rubs %}
                <div class="col-lg-3 col-md-4 mt-3 ">
                    <div class="card text-center shadow h-100 bg-lightblue" style="min-width: 225px">
                        <!--                <img class="card-img-top" src="holder.js/100px180/" alt="">-->
                        {#                    <h2><i class="fas fa-car-side fa-3x mt-2"></i></h2>#}
                        <div class="card-body d-flex flex-column">
                            <h1 class="card-text text-break text-capitalize ">{{ rub.libelle }}</h1>
                            <a id="" class="btn btn-primary stretched-link mt-auto shadow-sm"
                               href="?action=annonces&param={{ rub.libelle }}"
                               role="button">Consulter</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}