{% extends 'template.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
    <div class="container mb-4">
        <div class="row ">

            {% for rub in rubs %}
                <div class="col-lg-3 col-md-4 mt-3 ">
                    <div class="card text-center shadow h-100 bg-lightgreen">
                        <!--                <img class="card-img-top" src="holder.js/100px180/" alt="">-->
                        {#                    <h2><i class="fas fa-car-side fa-3x mt-2"></i></h2>#}
                        <div class="card-body">
                            <h1 class="card-title">{{ rub.libelle }}</h1>
                            <p class="card-text">
                                <a id="" class="btn btn-primary stretched-link"
                                   href="?action=annonces&param={{ rub.libelle }}"
                                   role="button">Consulter</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}