{% extends 'template.html.twig' %}
{% block title %}Le titre{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
    <div class="container mb-4">
        <div class="row ">
            <div class="col-lg-3 col-md-4 mt-3 ">
                <div class="card text-center shadow h-100 bg-yellow">
                    <!--                <img class="card-img-top" src="holder.js/100px180/" alt="">-->
                    <h2><i class="fas fa-car-side fa-3x mt-2"></i></h2>
                    <div class="card-body">
                        <h4 class="card-title">Auto, Moto</h4>
                        <p class="card-text"><a name="" id="" class="btn btn-primary" href="#"
                                                role="button">Consulter</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-3">
                <div class="card text-center shadow h-100 bg-blue">
                    <!--                <img class="card-img-top" src="holder.js/100px180/" alt="">-->
                    <h2><i class="fa fa-paw fa-3x mt-2"></i></h2>
                    <div class="card-body">
                        <h4 class="card-title">Animaux</h4>
                        <p class="card-text"><a name="" id="" class="btn btn-primary" href="#"
                                                role="button">Consulter</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-3">
                <div class="card text-center shadow h-100 bg-red">
                    <!--                <img class="card-img-top" src="holder.js/100px180/" alt="">-->
                    <h2><i class="fa fa-tv fa-3x mt-2"></i></h2>
                    <div class="card-body">
                        <h4 class="card-title">Electroménager</h4>
                        <p class="card-text"><a name="" id="" class="btn btn-primary" href="#"
                                                role="button">Consulter</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-3">
                <div class="card text-center shadow h-100 bg-violet">
                    <!--                <img class="card-img-top" src="holder.js/100px180/" alt="">-->
                    <h2><i class="fa fa-home fa-3x mt-2"></i></h2>
                    <div class="card-body">
                        <h4 class="card-title">Maison, déco</h4>
                        <p class="card-text"><a name="" id="" class="btn btn-primary" href="#"
                                                role="button">Consulter</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-3">
                <div class="card text-center shadow h-100 bg-orange">
                    <!--                <img class="card-img-top" src="holder.js/100px180/" alt="">-->
                    <div class="card-block"><h2><i class="fa fa-female fa-3x mt-2"></i></h2></div>
                    <div class="card-body">
                        <h4 class="card-title">Mode, Beauté</h4>
                        <p class="card-text"><a name="" id="" class="btn btn-primary" href="#"
                                                role="button">Consulter</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-3">
                <div class="card text-center shadow h-100 bg-darkblue">
                    <!--                <img class="card-img-top" src="holder.js/100px180/" alt="">-->
                    <h2><i class="fa fa-laptop fa-3x mt-2"></i></h2>
                    <div class="card-body">
                        <h4 class="card-title">High-Tech</h4>
                        <p class="card-text"><a name="" id="" class="btn btn-primary" href="#"
                                                role="button">Consulter</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-3">
                <div class="card text-center shadow h-100 bg-mdviolet">
                    <!--                <img class="card-img-top" src="holder.js/100px180/" alt="">-->
                    <h2><i class="fa fa-bicycle fa-3x mt-2"></i></h2>
                    <div class="card-body">
                        <h4 class="card-title">Loisirs, Culture</h4>
                        <p class="card-text"><a name="" id="" class="btn btn-primary" href="#"
                                                role="button">Consulter</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-3">
                <div class="card text-center shadow h-100 bg-lightblue">
                    <!--                <img class="card-img-top" src="holder.js/100px180/" alt="">-->
                    <h2><i class="fa fa-baby fa-3x mt-2"></i></h2>
                    <div class="card-body">
                        <h4 class="card-title">Bébé</h4>
                        <p class="card-text"><a name="" id="" class="btn btn-primary" href="#"
                                                role="button">Consulter</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-3">
                <div class="card text-center shadow h-100 bg-lightyellow">
                    <!--                <img class="card-img-top" src="holder.js/100px180/" alt="">-->
                    <h2><i class="fa fa-hands-helping fa-3x mt-2"></i></h2>
                    <div class="card-body">
                        <h4 class="card-title">Services</h4>
                        <p class="card-text"><a name="" id="" class="btn btn-primary" href="#"
                                                role="button">Consulter</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-3">
                <div class="card text-center shadow h-100 bg-green">
                    <!--                <img class="card-img-top" src="holder.js/100px180/" alt="">-->
                    <h2><i class="fa fa-briefcase fa-3x mt-2"></i></h2>
                    <div class="card-body">
                        <h4 class="card-title">Emploi</h4>
                        <p class="card-text"><a name="" id="" class="btn btn-primary" href="#"
                                                role="button">Consulter</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-3">
                <div class="card text-center shadow h-100 bg-lightgreen">
                    <!--                <img class="card-img-top" src="holder.js/100px180/" alt="">-->
                    <h2><i class="fa fa-heart fa-3x mt-2"></i></h2>
                    <div class="card-body">
                        <h4 class="card-title">Rencontres</h4>
                        <p class="card-text"><a name="" id="" class="btn btn-primary" href="#"
                                                role="button">Consulter</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-3">
                <div class="card text-center shadow h-100 bg-yellow">
                    <!--                <img class="card-img-top" src="holder.js/100px180/" alt="">-->
                    <h2><i class="fa fa-home fa-3x mt-2"></i></h2>
                    <div class="card-body">
                        <h4 class="card-title">Immo</h4>
                        <p class="card-text"><a name="" id="" class="btn btn-primary" href="#"
                                                role="button">Consulter</a>
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}