{% extends 'template.html.twig' %}
{% block title %}Annonces {{ session.user }}{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
    <div class="container mb-4">
        <div class="row justify-content-center">
            <div class="col-md-5 card my-3 bg-light shadow">
                <div class="card-block m-3">
                    <h3 class="card-title text-center">Ecrire une annonce</h3>
                    <hr>
                    <form action="?action=submitAnnonce&param={{ session.user }}" method="post" id="addAnnonce" enctype="multipart/form-data" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="">Rubrique</label>
                            <select class="form-control" name="rubrique" id="">
                                {% for rub in rubs %}
                                    <option value="{{ rub.libelle }}">{{ rub.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="entete">Entête</label>
                            <input type="text" class="form-control toCheck" name="entete" id="entete" aria-describedby="helpId"
                                   placeholder="" required>

                        </div>
                        <div class="form-group">
                            <label for="corps">Description</label>
                            <textarea class="form-control toCheck" name="corps" id="corps" rows="3" required></textarea>

                        </div>
                        <div class="form-group">
                            <label for="dateLimite">Date de validité</label>
                            <input type="date"
                                   class="form-control" name="dateLimite" id="dateLimite" aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="form-group center">
                            <button type="submit" class="btn btn-primary">Publier</button>
                        </div>
                        <hr>
                        <div class="form-group" id="divAjoutImage">
                            <label for="photo">Ajouter une image</label>
                            <input type="file" class="form-control-file photo" id="photo" name="photo0" value="">
                        </div>
                        <button type="button" class="btn btn-info" id="ajoutImage">Ajouter une autre image</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block additionnalJS %}
    <script src="js/validationAjout.js"></script>
    <script>
        // let compteurImage = 1;
        let compteurImage = $(".photo").length;

        // if (compteurImage < 4) {
        //     $("#ajoutImage").click(function () {
        //         $("#divAjoutImage").append('<input type="file" class="form-control-file" id="photo' + compteurImage +'" name="photo' + compteurImage +'">');
        //         compteurImage++;
        //     });
        // }
        $("#ajoutImage").click(function () {
            if (compteurImage < 4){
                $("#divAjoutImage").append('<input type="file" class="form-control-file photo" id="photo' + compteurImage +'" name="photo' + compteurImage +'">');
                compteurImage++;
            }
        })
    </script>
{% endblock %}