<!doctype html>
<html lang="en">
<head>
    <title>Ajout annonce</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- FontAwesome Kit   -->
    <script src="https://kit.fontawesome.com/8108dfc9fe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../web/css/annonce.css">

</head>
<body>

<div class="container-fluid">
    <div class="jumbotron text-white bg-dark jumbotron-fluid mb-0">
        <div class="container">
            <h1 class="display-3">Annonce.com</h1>
            <p class="lead">Un Slogan Super</p>
        </div>

    </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
        <a class="navbar-brand text-success" href="#">Annonce.com</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
                aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Rubriques <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Compte</a>
                </li>
            </ul>
            <a class="mr-3" href="..."><i class="fa fa-user fa-2x text-white" aria-hidden="true"></i></a>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="recherche...">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 card my-3 bg-light">
                <div class="card-block m-3">
                    <form action="" id="addAnnonce">
                        <div class="form-group">
                            <label for="">Rubrique</label>
                            <select class="form-control" name="" id="">
                                <option>Immo</option>
                                <option>Hi-Fi</option>
                                <option>Informatique</option>
                                <option>Téléphonie</option>
                                <option>Auto/Moto</option>
                                <option>Rencontre</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="nom">Entête</label>
                            <input type="text" class="form-control toCheck" name="nom" id="nom" aria-describedby="helpId"
                                   placeholder="">
                            <div class="alert alert-warning mt-2" role="alert">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Description</label>
                            <textarea class="form-control toCheck" name="" id="" rows="3"></textarea>
                            <div class="alert alert-warning mt-2" role="alert">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Date de validité</label>
                            <input type="date"
                                   class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="form-group center">
                            <button type="submit" class="btn btn-primary">Publier</button>
                        </div>
                        <hr>
                        <a id="ajoutPhoto" class="btn btn-success" href="#" role="button">Ajouter une photo</a>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="../web/js/validationBis.js"></script>
</body>
</html>