{% block header %}
    <div class="jumbotron text-white bg-dark jumbotron-fluid mb-0 ">
        <div class="container">
            <h1 class="display-3">Annonce.com</h1>
            <p class="lead">Un Slogan Super</p>
        </div>

    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 sticky-top">
        <a class="navbar-brand text-success" href="?action=accueil">Annonce.com</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
                aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item {% block rubActive %}{% endblock %}">
                    <a class="nav-link" href="?action=accueil">Rubriques <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% block connectActive %}{% endblock %}" >
                    <a class="nav-link" href="?action=connection">Compte</a>
                </li>
                {% if session.user %}
                    <li class="nav-item {% block annPublishActive %}{% endblock %}">
                        <a class="nav-link" href="?action=annoncesPublisher&param={{ session.user }}">Mes annonces</a>
                    </li>
                    <li class="nav-item {% block addPublishActive %}{% endblock %}">
                        <a class="nav-link" href="?action=ajouterAnnonce&param={{ session.user }}">Ajouter annonce</a>
                    </li>
                {% endif %}
                {% if session.isAdmin %}
                    <li class="nav-item {% block adminActive %}{% endblock %}">
                        <a class="nav-link" href="?action=admin">Administrateur</a>
                    </li>
                {% endif %}
            </ul>
            <a class="mr-3" href="?action=connection"><i class="fa fa-user fa-2x {#text-white#} myuser" aria-hidden="true"></i></a>
{#            <form class="form-inline my-2 my-lg-0">#}
{#                <label>#}
{#                    <input class="form-control mr-sm-2" type="text" placeholder="recherche...">#}
{#                </label>#}
{#                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>#}
{#            </form>#}
        </div>
    </nav>
{% endblock %}
