{% extends 'template.html.twig' %}
{% block title %}Demande nouveau mot de passe{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
    <div class="container mb-4">
        {% if message %}
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>{{ message }}</strong>
                    </div>
                </div>
            </div>
        {% endif %}

        <script>
            $(".alert").alert();
        </script>
        <div class="row justify-content-center">
            <div class="col-md-5 card bg-light mb-3 shadow">
                <div class="card-block m-3">
                    <h3 class="card-title text-center">Réinitialiser mot de passe</h3>
                    <hr>
                    Vous avez oublié votre mot de passe ?
                    <hr>
                    <form action="?action=resetRequest" method="post" id="resetRequestForm" class="needs-validation" novalidate>


                        <div class="form-group">
                            <label for="mail">Email</label>
                            <input type="email" class="form-control toCheck" name="mail" id="mail"
                                   aria-describedby="emailHelpId"
                                   placeholder="" pattern="[a-zA-Z\d]+@[a-zA-Z\d]+\.[a-z\d]+" required>
                            <div class="invalid-feedback">
                                Veuillez saisir une adresse email.
                            </div>
                            <div class="alert alert-warning mt-2 signup-alert" role="alert">
                            </div>
                        </div>
                        <div class="form-group center mt-3">
                            <button type="submit" class="btn btn-primary shadow-sm">Envoyer demande</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block additionnalJS %}
    <script src="js/validation.js"></script>

{% endblock %}
