{% extends 'template.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
    <div class="container mb-4">
        {% if message %}
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>{{ message }}</strong>
                    </div>
                </div>
            </div>
        {% endif %}

        <script>
            $(".alert").alert();
        </script>
        <div class="row justify-content-center">
            <div class="col-md-5 card bg-light mb-3 shadow">
                <div class="card-block m-3">
                    <h3 class="card-title text-center">Création de compte</h3>
                    <hr>
                    <form action="?action=updatePassword" method="post" id="signup" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="nom">Nom</label>
                            <input type="text" class="form-control toCheck" name="nom" id="nom"
                                   aria-describedby="helpId"
                                   placeholder="" value="{{ user.nom }}" required>
                            <div class="invalid-feedback">
                                Veuillez saisir un nom.
                            </div>
                            {#                            <div class="alert alert-warning mt-2 signup-alert" role="alert">#}

                            {#                            </div>#}
                        </div>
                        <div class="passGroup">
                            <div class="form-group passGroup">
                                <label for="password">Nouveau mot de passe</label>
                                <input type="password" class="form-control toCheck" name="passwordUp"
                                       id="password"
                                       placeholder="" required minlength="7" maxlength="12">
                                <div class="invalid-feedback">
                                    Veuillez saisir un mot de passe de 7 à 12 caractères.
                                </div>
                                <div class="alert alert-warning mt-2 signup-alert" role="alert">

                                </div>
                            </div>
                            <div class="form-group passGroup">
                                <label for="confirmPassword" class="mt-2">Confirmer mot de passe</label>
                                <input type="password" class="form-control toCheck" name="confirmPasswordUp"
                                       id="confirmPassword" placeholder="" required minlength="7" maxlength="12">
                                <div class="invalid-feedback">
                                    Veuillez confirmer le mot de passe. <br>
                                    <span id="confirmAlert"></span>
                                </div>
                                {#                                <div class="alert alert-warning mt-2 signup-alert" role="alert" id="confirmAlert">#}

                                {#                                </div>#}
                            </div>
                        </div>

                        <div class="form-group center mt-3">
                            <button type="submit" class="btn btn-primary shadow-sm">Créez votre compte</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block additionnalJS %}
    <script src="js/validation.js"></script>

{% endblock %}
